<main>
        <section class="section-lightning-fast-prototyping">
            <div class="container">
                <h1 class="text-black">
                    Lightning fast prototyping
                </h1>
                <p class="f-s-20 text-grey">
                    Most calendars are designed for teams. Slate is designed for <br>
                    freelancers who want a simple way to plan their schedule.
                </p>
                <button class="btn-blue px-70" data-bs-toggle="modal" data-bs-target="#modal">Try For Free</button>
                <!-- Modal -->
                <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Try For Free</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate optio enim odit quas 
                                incidunt voluptate hic asperiores commodi iste laudantium animi ducimus, vero, exercitationem 
                                repellat ipsam accusantium deleniti neque. Harum iusto facilis exercitationem accusantium 
                                corporis rerum doloremque incidunt repellendus fuga tenetur recusandae iure perspiciatis 
                                maiores nam cum hic, quis magnam.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="../public/img/bg-figure.png" alt="">
        </section>

        <section class="section-screens-img">
            <img src="../public/img/bg-1.png" alt="">
        </section>

        <section class="section-fastest-way-to-navigate">
            <div class="container">
                <h2 class="text-white">
                    Fastest way to navigate
                </h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card wow bounceInLeft">
                            <div class="container-img">
                                <img width="88px" height="99px" src="../public/img/pro-icon.png" alt="">
                            </div>
                            <h4 class="text-black">
                                Design with real <br>
                                data
                            </h4>
                            <p class="f-s-16 text-grey">
                                Ever wondered if you're too reliant 
                                on a client for work? Slate helps 
                                you identify.
                            </p>
                            <div class="progress-block">
                                <div class="progress-block-value-text">
                                    <p class="text-grey">Facebook</p>
                                    <p class="text-grey-bolder">35,929</p>
                                </div>
                                <div class="progress progress-green">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-block">
                                <div class="progress-block-value-text">
                                    <p class="text-grey">Twitter</p>
                                    <p class="text-grey-bolder">28,854</p>
                                </div>
                                <div class="progress progress-blue">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-block">
                                <div class="progress-block-value-text">
                                    <p class="text-grey">Behance</p>
                                    <p class="text-grey-bolder">1,843</p>
                                </div>
                                <div class="progress progress-violett">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-block">
                                <div class="progress-block-value-text">
                                    <p class="text-grey">Instagram</p>
                                    <p class="text-grey-bolder">49,943</p>
                                </div>
                                <div class="progress progress-yellow">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card wow bounceInRight">
                            <div class="container-img">
                                <img width="73px" height="73px" src="../public/img/grid-icon.png" alt="">
                            </div>
                            <h4 class="text-black">
                                Work at the speed <br>
                                of thought.
                            </h4>
                            <p class="f-s-16 text-grey mb-0">
                                Ever wondered if you're too reliant 
                                on a client for work? Slate helps 
                                you identify.
                            </p>
                            <div class="">
                                <div id="chart1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn-white">Try For Free</button>
            </div>
        </section>
        
        <section class="section-opentype-features-and-variable-fonts">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 content-center wow bounceInLeft">
                        <h2 class="text-black">
                            OpenType features and 
                            Variable fonts
                        </h2>
                        <p class="text-grey f-s-20">
                            Most calendars are designed for teams. Slate is designed 
                            for freelancers who want a simple way to plan
                            their schedule.
                        </p>
                        <div class="subscribe-block">
                            <input type="text" placeholder="Enter Your Adress Email">
                            <button class="btn-blue">Subscribe</button>
                        </div>
                    </div>
                    <div class="col-md-6 wow bounceInUp">
                        <img class="iphone-desc" src="../public/img/iPhoneX-White-desc.png" alt="">
                        <img class="iphone-mob" src="../public/img/iPhoneX-White.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="section-work-better-together">
            <div class="container">
                <h2 class="text-black">
                    Work better together
                </h2>
                <p class="f-s-16 text-grey">
                    Being a freelancer is a rollercoaster of emotions. We built Slate to keep your <br>
                    freelance business less stressful. We'd love to show you what we're building...
                </p>
                <div class="progress-block">
                    <div class="progress progress-blue">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="progress-block-value-text">
                        <p class="text-grey">Facebook</p>
                        <p class="text-grey-bolder">35,929</p>
                    </div>
                </div>
                <button class="btn-blue">Try For Free</button>
            </div>
        </section>
    </main>
