<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="logo" src="../public/img/logo-white.png" alt="">
            </div>
            <div class="col-md-4 footer-icons">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-linkedin-square"></i>
            </div>
            <div class="col-md-4 content-right">
                <p class="text-white">
                    Just type what's on your mind and we'll
                </p>
            </div>
        </div>
    </div>
</footer>